@charset 'utf-8';
@import url('./normalization/main.css');

* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body, .root {
  width: 100%;
  height: 100%;
}

:root, html {
  font-size: 62.5%;
}

body {
  font-size: 1.6em;
}

button {
  background-color: transparent
}

img {
  max-width: 100%;
}
